
// _variables.scss

//////////
// Colors
//////////

// UI colors
// ----------

$ui-light:    #fff;
$ui-light-35: rgba(255, 255, 255, .35);
$ui-light-50: rgba(255, 255, 255, .5);

$ui-gray-lightest: #eee;
$ui-gray-lighter:  #d8d8d8;
$ui-gray-light:    #bbb;

$ui-gray-dark:    #737373;
$ui-gray-darker:  #646464;
$ui-gray-darkest: #454545;

$ui-dark: #000;

$ui-link-color: #00f;
$ui-text-color: #111;

/////////////////
// Miscellaneous
/////////////////

// Blocks
// -------

$block-xs: 600px;
$block-sm: 768px;
$block-md: 1024px;
$block-lg: 1280px;
$block-xl: 1400px;

// Border radius
// --------------

$ui-border-radius: 6px;

// Box shadows
// ------------

$box-shadow: 0 0 1px 1px rgba(0, 0, 0, .15);

// Breakpoints
// ------------

$bp-screen-xs-min: $block-xs;
$bp-screen-sm-min: $block-sm;
$bp-screen-md-min: $block-md;
$bp-screen-lg-min: $block-lg;
$bp-screen-xl-min: $block-xl;

// Icons
// ------

$icon-size-1: 14px;
$icon-size-2: ($icon-size-1 * 2);
$icon-size-3: ($icon-size-1 * 3);
$icon-size-4: ($icon-size-1 * 4);
$icon-size-5: ($icon-size-1 * 5);

// Layout
// -------

$ui-max-width: 1400px;

// Typography
// -----------

$base-font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-line-height: 1.5;

$font-weight-thin:       100;
$font-weight-light:      300;
$font-weight-normal:     400;
$font-weight-bold:       700;
$font-weight-ultra-bold: 900;

$text-shadow: 0 1px 0 rgba(0, 0, 0, .15);
$text-shadow-dark: 0 1px 0 rgba(0, 0, 0, .35);

// z-index
// --------

$zi-1:   100;
$zi-2:   200;
$zi-3:   300;
$zi-4:   400;
$zi-5:   500;
$zi-6:   600;
$zi-7:   700;
$zi-8:   800;
$zi-9:   900;
$zi-10: 1000;

///////////////////////
// Bootstrap overrides
///////////////////////

$font-family-sans-serif: $base-font-family;
$font-size-base: $base-font-size;
$headings-font-weight: 400;
$headings-line-height: 1.5;
$line-height-base: 1.5;
